*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Poppins;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
}

header .logo img
{
    max-width: 100px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li 
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1.2s ease-out forwards;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.content .textBox h2 b
{
    color: #FF9317;
    font-size: 70px;
}

.content .textBox span
{
    color: #333;
    font-size: 30px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.4s ease-out forwards;
}

.content .textBox p
{
    color: #333;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}

.content .textBox a
{
    display: inline-block;
    margin: 20px;
    padding: 8px 20px;
    background: #FF9317;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 450px;
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 0.8s 0.7s ease-out forwards;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-height: 120px;
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s 1s ease-out forwards;
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.sci li a img
{
    max-width: 40px;
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F99F27;
    clip-path: circle(600px at right 800px);
}

@keyframes apparition {
    100%{
        opacity: 1;
        transform: none;
    }
}

@media (max-width: 991px) {
    header
    {
        padding: 20px;
        justify-content: space-between;
    }

    header ul
    {
        display: none;
    }

    header .logo img
    {
        max-width: 60px;
    }

    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('./1x/bars-solid.svg');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    
    .toggle.active
    {
        position: fixed;
        right: 20px;
        background: url('./1x/times-solid.svg');
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
    }

    header ul.navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }

    header ul li a 
    {
        font-size: 1.5em;
        margin: 5px 0;
        animation: apparition 0.4s 0.2s ease-out forwards;
    }

    section
    {
        padding: 20px 20px 120px;
    }

    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox
    {
        max-width: 100%;
    }

    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
        padding-right: 0;
    }

    .thumb li img 
    {
        max-width: 40px;
    }

    .content .imgBox img
    {
        max-width: 300px;
    }

    .content .textBox h2
    {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .circle
    {
        clip-path: circle(400px at center bottom);
    }

    .sci
    {
        background: #0c0c0e;
        width: 30px;
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: fixed;
    }

    .sci li a img 
    {
        max-width: 20px;
    }

    .thumb li
    {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        cursor: pointer;
        transition: 0.5s;
    }


    
}